/* Frondend Styles */
/* Base Dir */
/* Base Elements */
body {
  font-family: 'Bebas Neue', cursive; }

a {
  color: inherit; }
  a:hover, a:active, a:focus {
    color: rgba(245, 158, 68, 0.8);
    text-decoration: none; }

form p {
  margin: 0; }
form label {
  margin-bottom: 8px;
  width: 100%;
  font-size: 1.8rem;
  color: white; }
form input[type="text"], form input[type="email"], form input[type="tel"] {
  width: 100%;
  height: calc(1.5em);
  padding: 20px 10px;
  border: 2px solid white;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: transparent;
  background-clip: padding-box;
  color: white; }
form input[type="submit"] {
  display: block;
  width: 25%;
  margin: 0 auto;
  padding: 8px 15px;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: black;
  background: white;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  form input[type="submit"]:hover {
    background-color: #f28514;
    color: #313331; }
form textarea {
  width: 100%;
  max-height: 160px;
  padding: 20px 10px;
  border: 2px solid white;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: transparent;
  background-clip: padding-box;
  color: white;
  resize: none; }
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #EEE;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000; }
form ::placeholder,
form ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.1); }

/* Layout Dir */
/* Header */
/* Footer */
.footer .partner-logo {
  max-height: 64px; }
  @media (min-width: 576px) {
    .footer .partner-logo {
      max-height: 96px; } }

/* Modules Dir */
/* Navbar */
.navbar {
  border-radius: 0; }
  .navbar .navbar-toggler {
    font-size: initial;
    border-color: white; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      color: white; }
  .navbar .navbar-brand img {
    max-height: 60px; }
  .navbar .nav-item {
    color: white; }
    .navbar .nav-item .nav-link {
      position: relative;
      color: inherit;
      font-size: 2rem;
      padding: 1rem 2rem; }
      .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:active {
        color: #16ba4c; }
    @media (min-width: 992px) {
      .navbar .nav-item:not(:last-child) .nav-link::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 2rem;
        background-color: white; } }

/* Testimonials */
.testimonials {
  position: relative; }
  .testimonials .big-quotes {
    position: absolute;
    width: auto;
    height: 100%;
    max-height: 80px; }
    @media (min-width: 768px) {
      .testimonials .big-quotes {
        max-height: 160px; } }
  .testimonials .big-quotes-start {
    top: 0;
    left: 0; }
    @media (min-width: 768px) {
      .testimonials .big-quotes-start {
        top: 30px;
        left: 30px; } }
  .testimonials .big-quotes-end {
    bottom: 0;
    right: 0;
    transform: rotate(180deg); }
    @media (min-width: 768px) {
      .testimonials .big-quotes-end {
        bottom: 30px;
        right: 30px; } }

/* Latest Post */
.latest-posts .title {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.1); }
  @media (min-width: 768px) {
    .latest-posts .title {
      font-size: 6rem; } }
  @media (min-width: 992px) {
    .latest-posts .title {
      font-size: 10rem; } }
  @media (min-width: 1200px) {
    .latest-posts .title {
      font-size: 13rem; } }

/* Contact */
.contact .title {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .contact .title {
      font-size: 4.2rem; } }
  @media (min-width: 1200px) {
    .contact .title {
      font-size: 5rem; } }

/* Posts Entries */
.entry-header .entry-title {
  margin-bottom: 15px;
  font-size: 2.6rem;
  color: #f59e44; }

.entry-content h2,
.entry-content h3,
.entry-content h4 {
  margin-bottom: 0; }
@media (min-width: 992px) {
  .entry-content h2 {
    font-size: 2.75em; }
  .entry-content h3 {
    font-size: 2.5em; }
  .entry-content h4 {
    font-size: 2.25em; } }
.entry-content p,
.entry-content li {
  font-size: 1.15rem; }
  @media (min-width: 992px) {
    .entry-content p,
    .entry-content li {
      font-size: 1.5em; } }

.comments .comment-list {
  padding: 0; }
.comments .comment-list,
.comments .children {
  list-style: none; }
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border: 2px solid white;
  background-color: transparent; }
  .comments .comment-body .comment-author {
    margin-bottom: 15px; }
    .comments .comment-body .comment-author .fn {
      font-size: 1.6rem;
      margin: 0 3px 0 5px;
      font-style: normal; }
    .comments .comment-body .comment-author .says {
      font-size: 1.2rem; }
  .comments .comment-body .comment-meta {
    margin-bottom: 15px; }
.comments .comment-form {
  color: inherit;
  margin-bottom: 30px; }
  .comments .comment-form input,
  .comments .comment-form textarea {
    border-color: white;
    color: inherit;
    font-size: 12px; }
    @media (min-width: 576px) {
      .comments .comment-form input,
      .comments .comment-form textarea {
        font-size: 16px; } }
.comments .form-submit input[type="submit"],
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  color: black;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .comments .form-submit input[type="submit"]:hover,
  .comments .comment-reply-link:hover {
    background-color: #f28514;
    color: white; }
.comments .reply {
  height: auto; }

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important; }

.widget_media_gallery .gallery-item {
  padding: 2px; }
  @media (min-width: 1200px) {
    .widget_media_gallery .gallery-item {
      padding: 8px; } }

/* Pagination */
.pagination {
  margin: 0; }
  .pagination .page-item .page-link {
    color: white;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    border-radius: 0;
    background-color: transparent; }
  .pagination .page-item:first-child .page-link {
    border-left-width: 1px; }
  .pagination .page-item:hover {
    background-color: #3d403d; }
    .pagination .page-item:hover .page-link {
      color: white !important; }
  .pagination .page-item.active {
    background-color: white; }
    .pagination .page-item.active .page-link {
      color: #313331;
      font-weight: bold; }

/* State Dir */
/* State */
@media (min-width: 1200px) {
  body.logged-in #navbar.fixed-top {
    top: 32px; } }

/* Theme Dir */
/* Backgrounds Colors */
.bg-color-one {
  background-color: #e51e25 !important; }

.bg-color-two {
  background-color: #f59e44 !important; }

.bg-color-three,
.bg-dark {
  background-color: #313331 !important; }

.bg-color-four {
  background-color: #1ee560 !important; }

.bg-black {
  background-color: black !important; }

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.text-color-one {
  color: #e51e25 !important; }

.text-color-two {
  color: #f59e44 !important; }

.text-color-three {
  color: #313331 !important; }

.text-color-four {
  color: #1ee560 !important; }

/*# sourceMappingURL=frontend-style.css.map */
