/* Base Elements */

body {
    font-family: 'Bebas Neue', cursive;
}

a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        color: rgba($color2, 0.8);
        text-decoration: none;
    }
}

form {
    p {
        margin: 0;
    }

    label {
        margin-bottom: 8px;
        width: 100%;
        font-size: 1.8rem;
        color: white;
    }

    input {

        &[type="text"],
        &[type="email"],
        &[type="tel"] {
            width: 100%;
            height: calc(1.5em);
            padding: 20px 10px;
            border: 2px solid white;
            border-radius: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            background: transparent;
            background-clip: padding-box;
            color: white;
        }

        &[type="submit"] {
            display: block;
            width: 25%;
            margin: 0 auto;
            padding: 8px 15px;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 0;
            color: black;
            background: white;

            @include btn-hover($color2, $color3);
        }
    }

    textarea {
        width: 100%;
        max-height: 160px;
        padding: 20px 10px;
        border: 2px solid white;
        border-radius: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background: transparent;
        background-clip: padding-box;
        color: white;
        resize: none
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
        border: 1px solid #EEE;
        box-shadow: 0 0 0 1000px transparent inset;
        -webkit-text-fill-color: #000000;
    }

    ::placeholder,
    ::-ms-input-placeholder {
        color: rgba(white, 0.1);
    }
}