/* Contact */

.contact {
    .title {
        font-size: 2.5rem;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            font-size: 4.2rem;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            font-size: 5rem;
        }
    }
}