/* Posts Entries */

.entry-header {

    .entry-title {
        margin-bottom: 15px;
        font-size: 2.6rem;
        color: $color2;
    }

}

.entry-content {

    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
        h2 {
            font-size: 2.75em;
        }

        h3 {
            font-size: 2.5em;
        }

        h4 {
            font-size: 2.25em;
        }
    }

    p,
    li {
        font-size: 1.15rem;

        @media (min-width: 992px) {
            font-size: 1.5em;
        }
    }
}