/* Latest Post */

.latest-posts {
    .title {
        font-size: 5rem;
        color: rgba(white, 0.1);

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            font-size: 6rem;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            font-size: 10rem;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            font-size: 13rem;
        }
    }
}