/* Navbar */

.navbar {
    border-radius: 0;

    .navbar-toggler {
        font-size: initial;
        border-color: white;

        .navbar-toggler-icon {
            color: white;
        }
    }

    .navbar-brand {
        img {
            max-height: 60px;
        }
    }

    .nav-item {
        color: white;

        .nav-link {
            position: relative;
            color: inherit;
            font-size: 2rem;
            padding: 1rem 2rem;

            &:hover,
            &:focus,
            &:active {
                color: darken($color4, 10%);
            }
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            &:not(:last-child) {
                .nav-link {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 3px;
                        height: 2rem;
                        background-color: white;
                    }
                }
            }
        }

        // &.active {
        //     .nav-link {
        //         color: $color2;
        //     }
        // }

    }
}