/* Pagination */

.pagination {
    margin: 0;

    .page-item {
        .page-link {
            color: white;
            border-width: 1px 1px 1px 1px;
            border-color: white;
            border-radius: 0;
            background-color: transparent;
        }

        &:first-child {
            .page-link {
                border-left-width: 1px;
            }
        }

        &:hover {
            background-color: lighten($color3, 5%);

            .page-link {
                color: white !important;
            }
        }

        &.active {

            background-color: white;

            .page-link {
                color: $color3;
                font-weight: bold;
            }
        }
    }
}