/* Testimonials */

.testimonials {
    position: relative;

    .big-quotes {
        position: absolute;
        width: auto;
        height: 100%;
        max-height: 80px;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            max-height: 160px;
        }
    }

    .big-quotes-start {
        top: 0;
        left: 0;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            top: 30px;
            left: 30px;
        }
    }

    .big-quotes-end {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            bottom: 30px;
            right: 30px;
        }

    }

}