// Widgets

.widget {
    img {
        max-width: 100%;
        height: auto;
        border: none !important;
    }
}

.widget_media_gallery {
    .gallery-item {
        padding: 2px;

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            padding: 8px;
        }
    }
}