/* Backgrounds Colors */

.bg-color-one {
    background-color: $color1 !important;
}

.bg-color-two {
    background-color: $color2 !important;
}

.bg-color-three,
.bg-dark {
    background-color: $color3 !important;
}

.bg-color-four {
    background-color: $color4 !important;
}

.bg-black {
    background-color: black !important;
}

.bg-cover {
    @include background-cover();
}