// Text Colors

.text-color-one {
    color: $color1 !important;
}

.text-color-two {
    color: $color2 !important;
}

.text-color-three {
    color: $color3 !important;
}

.text-color-four {
    color: $color4 !important;
}